
*{
    text-align: none;
    margin: 0px;
    padding: 0px;
}
body { 
    margin: 0px;
    padding: 0px;
    background-image: url(public/images/keesha-s-kitchen-eaSIzdS8pv0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
        background-color: #131310;
        background-size: 50px;
        opacity: 0.85;
        justify-content: space-between;
}

div.a{
    text-align: center;
}

.float{
        display: flex;
        }

img {
    vertical-align: middle;
    width : 140px;
    height : 140px;
    background-repeat: no repeat no-repeat;
    }
h2{
    
    margin-left: 20%;
}

nav ul {list-style-type: none;}

h2 {
    
    float: center;
    color: antiquewhite;
    text-align: center;
}
.profil {

    background-color: #131310;
    
    display: inline-block;
    
}

.profil ul {
    display: flex;
    margin-right: 20px;
}
.box{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.plats {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
}

.plats img {

    width: 150px;
    height: auto;
}

.plats h4 {
    display: inline-block;}

