
body { 
    margin: 0px;
    padding: 0px;
    background-image: url(images/keesha-s-kitchen-eaSIzdS8pv0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
        background-color: black;
        background-size: 50px;
        opacity: 0.85;
}

.float{
        display: flex;
        }

img {
    vertical-align: middle;
    width : 140px;
    height : 140px;
    background-repeat: no repeat no-repeat;
    }
h2{
    
    margin-left: 20%;
}

.menu-deroulant{

    margin: 0px;
    padding: 0px;
    font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    width: 100%;
    margin-left: 150px;
    position: right;
    top: 0px; 
}

nav ul {list-style-type: none;}

h2 {
    
    float: center;
    color: antiquewhite;
    text-align: center;
}
.profil {

    background-color: black;
}
.plats {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
}

.plats img {

    width: 150px;
    height: auto;
}

.plats h4 {
    display: inline-block;}