.invalid-feedback{
    display: block;
}


header {
    background: linear-gradient(to right, rgb(13, 12, 12), rgb(30, 29, 29), rgb(88, 50, 25)); /* Dégradé de couleur */
    opacity: 0.97;
    width: 100%; /* Largeur de l'en-tête à 100% */ /* Augmenter la largeur de l'en-tête à 100% */
    padding: 50px; /* Ajouter un padding pour distancer le contenu de l'en-tête */
}


.img .OCNAMO{
    background-image: url('../../public/images/OCNAMO.png');
    width: 50px;
    height: 50px;
}
@font-face {
        font-family: 'InitialsWithACurl.ttf';
        src: url('../views/InitialsWithACurl.ttf') format('truetype'); /* Ajoutez "format('truetype')" */

        font-family: 'KGSoItGoes.ttf';
        src: url('../views/KGSoItGoes.ttf') format('truetype'); /* Ajoutez "format('truetype')" */
}

.titre {
    margin-left: 150px;
    font-size: 90px;
    font-family: 'arial', sans-serif; /* Utilisez la police téléchargée */
    background-image: linear-gradient(to right, rgb(113, 189, 51), rgb(186, 170, 139), rgb(194, 3, 3)); /* Dégradé de couleur */
    -webkit-background-clip: text; /* Appliquer le dégradé au texte */
    background-clip: text; /* Appliquer le dégradé au texte */
    color: transparent; 
}

nav a {
    color: white;
    text-decoration: none;
}    

.acceuil, .menu, .reservation, .contact{
    display: inline-block;
    font-size: large;
    margin-right: 40px; /* Espacement entre les éléments du menu */
}

.float{
    display: flex;
    max-width: 80%; /* Limiter la largeur du contenu flottant à 80% */
    margin: 0 auto; 
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content nav {
        margin-left: auto; /* Cela pousse la navigation à droite */
        }
img {
    vertical-align: middle;
    width : 140px;
    height : 140px;
    background-repeat: no repeat no-repeat;
}
h2{
    
    margin-left: 20%;
}

nav ul {list-style-type: none;}  /*pas de puce devant les listes*/

h2 {
    
    float: center;
    color: antiquewhite;
    text-align: center;
}
.profil {
    
    background-color: #131310;
    
    display: inline-block;
    
}

.profil ul {
    display: flex;
    margin-right: 20px;
}
.box{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
body { 
    margin: 0px;
    padding: 0px;
    background-image: url(../../public/images/keesha-s-kitchen-eaSIzdS8pv0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(242, 246, 243);
    background-color: #131310;
}

.plats {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
.plats img {

    width: 150px;
    height: auto;
}

.plats h4 {
    display: inline-block;}

h1{
    text-align: center;
    margin-top: 180px;
    font-size: 120px;
    font-family: 'InitialsWithACurl.ttf', sans-serif;
    text-shadow: 7px 7px 0 black;
}

.pageplat{
    text-align: center;
}

 ul .lienplat{
    color: white;
}

.plats{
    color: rgb(245, 249, 225);
    text-align: center;
}

#resa{
    color: rgb(229, 204, 204);
}

.reservation-container {
    
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Hauteur de la section égale à la hauteur de la fenêtre */
}

.reservation-section {
    border: 2px solid black; /* Bordure noire */
    padding: 20px; /* Espacement interne pour que le texte ne touche pas la bordure */
    background-color: #131310;
}

.menuforme{
    background: linear-gradient(to right,rgb(53, 67, 54), rgb(47, 128, 67), rgb(107, 63, 67),rgb(192, 167, 88));
}

.menuforme h2 {
    text-align: center; /* Centre le titre */
    margin-right: 400px;
    border: 12px inset rgb(38, 31, 31); /* Ajoute une bordure de 2 pixels de largeur solide et noire */
    padding: 11px 15px; 
    background-image: linear-gradient(to right, #261f1f, #454338);
}

.menuforme .categ {
    text-align: center; /* Alignement à gauche pour les catégories */
    margin-left: 50px; /* Centrer horizontalement le contenu */
    margin-right: auto; /* Centrer horizontalement le contenu */

    
}

h3{
    text-align: center;
    font-family: 'InitialsWithACurl.ttf', sans-serif;
    font-size: 40px;
    border: 12px groove rgb(38, 31, 31); /* Ajoute une bordure de 2 pixels de largeur solide et noire */
    width: fit-content;
    padding: 10px;
}

.footer{
    width: 100%;
    background-color: #131310;
    text-align: center;
    height: 30px;
}