body { 
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
    background-image: url(../../images/keesha-s-kitchen-eaSIzdS8pv0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.plats {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.plats img {
    width: 100px;
    height: auto;
}

.plats h4 {
    display: inline;
}
